<h1>Listing Atenciones</h1>

<table class="table table-hover table-striped ">
  <thead>
    <tr>
      <th>Tiempo de atención</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Comentario</th>
     
    </tr>
  </thead>

  <tbody>
    <% @atenciones.each do |atencion| %>
      <tr>
        <td><%= distance_of_time_in_words_to_now(atencion.hora_atencion) %></td>
        <td><%= atencion.nombres %></td>
        <td><%= atencion.descripcion %></td>
        <td><%= atencion.comentario %></td>
              
      </tr>
    <% end %>
  </tbody>
</table>

