<h1>BIENVENIDO A TURNERO</h1>
<p> Señor Asociado, usted es bastante importante para nuestra Cooperativa.</p>
<p> Estamos costantemente mejorando para usted y los suyos. </p>

<p> Por favor mantengase atento al llamado por su nombre, uno de nuestros
    colaboradores en cualquier instante puede llamarlo. </p>

<p>
   Que tenga una agradable espera...	
</p>
